body{
    background-color: #b07420;
}
header{
    background-color: #C3EB78;
    height: 90px;
    border-bottom: 3px black solid;
    margin: -10px -10px 25px -10px;
}
#recipe-title{
    position: absolute;
    margin-top: 7px;
    margin-left: 50px;
    color:#b07420;
}
aside{
    position: relative;
    float:right;
    width: 250px;
    height:605px;
    background-color: #c9ae55;
    margin-top:-45px;
    margin-right: -10px;
}
#recipe-history{
    width: 200px;
    text-align: center;
    position: relative;
    margin: auto;
    font-size:20px;
}
section{
    background-color: #d8d9ab;
    width: 400px;
    height: 605px;
    border-top:0px;
    position: relative;
    margin-top:-44px;
    margin-left: -10px;
}
.recipe{
    margin-left:10px;
    margin-top:15px;
}
#recipe-image{
    position: absolute;
    top: 134px;
    left: 33%;
    width: 650px;
    height: 300px;
}
footer{
    background-color: #9e957d;
    position: relative;
    bottom:0px;
    border-top:black solid 3px ;
    margin: 0px -10px -10px -10px;
}
nav{
    background-color: #9e957d;
    position: relative;
    top: -25px;
    height: 20px;
    border-bottom: 3px black solid;
    margin: 25px -10px 20px -10px;
}
#foot{
    text-align: center;
    height: 20px;
    margin-bottom: -10px;
}


